/* Display font for headings - Literata for editorial elegance */
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,400;0,7..72,500;0,7..72,600;0,7..72,700;1,7..72,400;1,7..72,500&display=swap');

@font-face {
  font-family: Inter UI;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Inter-UI-Regular.woff) format('woff');
  font-display: fallback;
}

@font-face {
  font-family: Inter UI;
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/Inter-UI-Italic.woff) format('woff');
  font-display: fallback;
}

@font-face {
  font-family: Inter UI;
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/Inter-UI-Medium.woff) format('woff');
  font-display: fallback;
}

@font-face {
  font-family: Inter UI;
  font-style: italic;
  font-weight: 600;
  src: url(/fonts/Inter-UI-MediumItalic.woff) format('woff');
  font-display: fallback;
}

@font-face {
  font-family: Inter UI;
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/Inter-UI-Bold.woff) format('woff');
  font-display: fallback;
}

@font-face {
  font-family: Inter UI;
  font-style: italic;
  font-weight: 800;
  src: url(/fonts/Inter-UI-BoldItalic.woff) format('woff');
  font-display: fallback;
}

@font-face {
  font-family: Iosevka;
  font-style: regular;
  font-weight: 400;
  src: url(/fonts/iosevka-regular.woff2) format('woff2');
  font-display: fallback;
}
