$light-background: #fff;
$light-background-secondary: #eaeaea;
$light-background-more: #fafafa;
$light-color: #222;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;

/* dark theme colors */
$dark-background: #292a2d;
$dark-background-secondary: #2c2f33;
$dark-background-more: #252627;
$dark-color: #a9a9b3;
$dark-color-secondary: #73747b;
$dark-border-color: #4a4b50;

/* sizes */
$content-width: 900px;
$tablet-content-width: 760px;
$line-height: 1.66;

/* breakpoints */
$phoneWidth: 684px;
$tabletWidth: 900px;
