.root {
  background-color: var(--color-background-more);
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
  text-align: center;
  padding: 48px 20px;
  border-top: 1px solid var(--color-border);
  transition: background-color var(--transition-slow), border-color var(--transition-slow);
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 684px) {
  .list {
    flex-direction: column;
  }
}

.item {
  padding: 0 18px;
  border-right: 1px solid var(--color-border);
}

.item:first-of-type {
  padding-left: 0;
}

.item:last-of-type {
  padding-right: 0;
  border-right: none;
}

@media (max-width: 684px) {
  .item {
    padding: 0;
    border: none;
  }
}
