.root {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 800;
}

.root img {
  height: 44px;
}

.mark {
  margin-right: 5px;
}

.cursor {
  display: inline-block;
  width: 10px;
  height: 1rem;
  background: var(--color-accent);
  margin-left: 5px;
  border-radius: 2px;
  animation: cursor 1s infinite;
  transition: background-color var(--transition-slow);
}

.text,
.mark {
  font-size: 18px;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .cursor {
    animation: none;
    opacity: 1;
  }
}
