.root {
  background: var(--color-background-more);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 20px;

  & a {
    text-decoration: none;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: calc(var(--content-width) - 40px);
  max-width: 100%;
}

.right {
  display: flex;
  position: relative;
}

.menu {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  list-style: none;
  border-right: 1px solid var(--color-border);
  margin-right: 18px;

  & li {
    margin: 0 12px;
  }

  & a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.themeToggle {
  background: none;
  color: inherit;
  border: none;
  box-shadow: none;
  line-height: 0;
  padding: 0 5px;
  outline: none;
}