@import 'vars.scss';
@import 'mixins.scss';

.root {
  width: 100%;
  max-width: $content-width;
  text-align: left;
  padding: 20px;
  margin: 0 auto 20px;
  position: relative;

  @include tablet {
    max-width: $tablet-content-width;
  }

  h1 {
    margin: 0 0 10px;
  }

  img {
    border-radius: 3px;
  }
}
