@use 'vars' as v;
@use 'mixins' as m;

.root {
  width: 100%;
  max-width: v.$content-width;
  text-align: left;
  padding: 20px;
  margin: 0 auto 20px;
  position: relative;

  &:not(:last-of-type) {
    border-bottom: 1px solid v.$light-border-color;

    :global .dark-theme :local & {
      border-color: v.$dark-border-color;
    }
  }

  @include m.tablet {
    max-width: v.$tablet-content-width;
  }

  h1 {
    margin: 0 0 10px;
  }

  img {
    border-radius: 3px;
  }
}
