.root {
  width: 100%;
  max-width: var(--content-width);
  text-align: left;
  padding: 20px;
  margin: 0 auto 20px;
  position: relative;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--color-border);
  }

  @media (max-width: 900px) {
    max-width: var(--tablet-content-width);
  }

  & h1 {
    margin: 0 0 10px;
  }

  & img {
    border-radius: 3px;
  }
}